
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customer</h2>

@if (Model != null)
{
    <h2>@Model.name</h2>    
    <h2>@Model.membershipType.name</h2>
}
else {
    <h2>Customer not found.</h2>
}
