
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table-striped">

    @foreach (var customer in Model)

    {

    <tr>
        <td>
            @customer.name -
            @Html.ActionLink("Link", "CustomerDetails", "Movies", new { id = @customer.Id }, null)
        </td>
    </tr>

    }
</table>